# Configuración de variables de entorno para el entorno de desarrollo
ENV_MODE=

# Configuración del superusuario general
ADMIN_USER=
ADMIN_PASS=
ADMIN_EMAIL=
ADMIN_ROLE=

# Configuración de la base de datos
DB_DATABASE=
BDD_MODE=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DIALECT=
DB_ERASE=
DB_ALTER=

# Configuración del servidor express
PORT=

# Configuración de JWT
JWT_PRIVATE_KEY=
SESSION_COOKIE_VTO=
JWT_EXPIRES_IN=

# configuracion para el front
MAILING_BASE_URL=
FRONTEND_ORIGIN=

# configuracion del nombre del sitio
EMPRESA_NOMBRE=

# configuracion de la api del microservicio de mensajeria
URL_SERV_MAIL=
