<main class="flex-grow-1">
  <div class="container-fluid fw-bolder">
    <p>Está es la vista principal, aca debería visualizarse un login y quiza algun q otro dato.</p>
    <p>no voy a mostrar informacion del inventario de manera publica...</p>
    <a href="/main/places"><button type="button" class="btn btn-primary btn-lg mx-1">otra vista del
        inventario</button></a>
    <a href="/main/inventory?estado=ASIGNADO"><button type="button" class="btn btn-primary btn-lg mx-1">Ir al
        inventario</button></a>
  </div>
</main>
<script src="/js/{{fileJs}}"></script>