<main class="flex-grow-1">
  <div class="container-fluid fw-bolder">
    <p>Está es la vista principal, aca debería visualizarse un login y quiza algun q otro dato.</p>
    <p>no voy a mostrar informacion del inventario de manera publica...</p>
    <button type="button" class="btn btn-primary btn-lg" id="inventoryBtn">Ir al inventario</button>
  </div>
</main>
<script src="/js/{{fileJs}}"></script>