<div class="btn-group btn-group-sm">
  <a href="?estado=asignado" class="btn btn-outline-primary {{#if (eq estado 'asignado')}}active{{/if}}">asignados</a>
  <a href="?estado=disponible" class="btn btn-outline-primary {{#if (eq estado 'disponible')}}active{{/if}}">disponibles</a>
</div>