<div class="btn-group btn-group-sm">
  <a href="?estado=ASIGNADO" class="btn btn-outline-primary {{#if (eq estado 'ASIGNADO')}}active{{/if}}">asignados</a>
  <a href="?estado=DISPONIBLE" class="btn btn-outline-primary {{#if (eq estado 'DISPONIBLE')}}active{{/if}}">disponibles</a>
</div>