<!-- Modal -->
<div class="modal fade" id="agregarEquipoAoficinaModal" tabindex="-1" aria-labelledby="agregarEquipoAoficinaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="agregarEquipoAoficinaModalLabel">Agregar equipo a la oficina</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center ">

        <form id="darEquipoAoficina" novalidate>
          <div class="form-group mb-3">
            <select id="seleccionarOficina" class="form-select-lg">
              <option value="" selected disabled></option>
            </select>
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Asignar equipo</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>